<style>
* {
              box-sizing: border-box;
}

body {
              margin: 0;
              font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              background-color:darkgrey;
}


.sidenav {
              height: 56%;
              width: 200px;
              position: fixed;
              z-index: 1;
              top: 100;
              left: 0;
              background-color:black;
              overflow-x: auto;
}



.sidenav a {
              color:whitesmoke;
              padding: 15px;
              margin: 5px;
              text-decoration: none;
              display: block;
              font-size: 100%;
}


.sidenav a:hover {
              background-color:white;
              color: black;
}

.header{
              margin-left: 200px;
              padding-left: 5px;
              text-align: center;
              background-color: white;
              border-bottom: 3px solid black;         
}


.content {
              margin-left: 200px;
              padding-left: 15px;
              text-align: center;
              background-color:white;
}

.column {
             
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 10%;
              height: 20%;
              padding: 85px;
              float:right;
              align-items: center;

              
            }
            .row {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }

            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            .right{
              float:right;
          }


.body-section{
              margin-left: 200px;
              padding-left: 5px;
              border-top: 5px;
              background-color:white;
}

    
          .alignRight {
              float: right;
            }

            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 50%;
              text-align: center;
            }
            
            td, th {
              border: 1px solid: whitesmoke;
              text-align: right;
              padding: 15px;
            }
            
            tr:nth-child(even) {
              background-color:whitesmoke;
            }
          }
          
         
          .table { 
margin-right: auto;
margin-left: auto;
width: 800px; }
          {
            border: 10px solid black;
            border-collapse: collapse;
          
            
            
          }
          th, td {
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 40px;
          }
          .sidenavcv {
            height: 57.2%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 100;
            left: 0;
            background-color:whitesmoke;
            overflow-x: auto; 
}
</style>